@{
    ViewData["Title"] = "Cadastrar Livro";
}

<h1>Cadastrar Livro</h1>

    <form method="post" action="@Url.Action("Cadastrar")">

        <label for="">Nome</label>
        <input type="text" name="Nome">

        <label for="">Foto da capa</label>
        <input type="image" name="Imagem">

        <label for="">Escritor</label>
        <input type="text" name="Escritor">

        <label for="">Idioma</label>
        <input type="text" name="Idioma">

        <label for="">Editora</label>
        <input type="text" name="Editora">

        <label for="">Descrição</label>
        <input type="text" name="Descricao">

        <select name="CategoriaID" id="CategoriaID">
        <option value="0">Selecione uma opção: </option>
        @foreach (Categoria categoria in ViewBag.Categoria)
        {
                        <option value="@categoria.CategoriaID">@categoria.Nome</option>
        }

</select>
        <button type="submit">Cadastrar</button>
    </form>
