@model Livro

@{
    ViewData["Title"] = "Lista Livro";
}

<h1>Livros Disponíveis</h1>

<h2>

</h2>

<div>
    @foreach (Livro livro in ViewBag.Livro as List<Livro>)
    {
        <div class="card">
            <img src="/img/Livros/@livro.Imagem" alt="Imagem da capa do livro @livro.Imagem" width="50px">
            <p>@livro.Nome</p>
            <a class="navbar-brand" asp-area="" asp-controller="Livro" asp-action="Detalhes" asp-route-id="@livro.LivroID">
                Detalhes</a>
            <a lass="navbar-brand" asp-area="" asp-controller="Livro" asp-action="Favoritar" asp-route-id="@livro.LivroID"><img src="/img/contorno-em-forma-de-coracao.png" alt=""></a>
        </div>
    }
</div>