@model Jogador

@{
    ViewData["Title"] = "Login";
}

<h2>Tela de Login</h2>

<h3>
    @TempData.Peek("Mensagem")
</h3>

@* //"Logar" vamos criar ainda o método *@
<form method="POST" action="@Url.Action("Logar")">

    <label for="">Email</label>
    <input type="email" name="Email" required>

    <label for="">Senha</label>
    <input type="password" name="Senha" required>

    <button type="submit">Logar</button>
</form>